<% if logged_in? %>
  <div class="row justify-content-center">
    <div class="col-11 col-md-8 col-lg-6 col-xl-5">
      <%= render "customer" %>
    </div>
    <div class="col-11 col-md-8 col-lg-6 col-xl-5">
      <%= render "account" %>
    </div>
  </div>

<% else %>
  <div class="p-5 text-center text-muted">
    <i class="fa fa-minus-circle fa-4x mb-3"></i>
    <p class="lead mb-1">You are not logged in</p>
    <p>Use the button to start an authentication</p>
    <%= link_to login_path, class: "btn btn-outline-secondary px-4" do %>
      <i class="fa fa-sign-in"></i> Login
    <% end %>
  </div>
<% end %>
