<h1>Fidor API Demo</h1>

<% if logged_in? %>
  Logged in as <%= current_customer.first_name %> <%= current_customer.last_name %>,
  <%= link_to "Logout", logout_path %>
<% else %>
  Not logged in.
  <%= link_to "Login", login_path %>
<% end %>
